<p style="color: green"><%= notice %></p>

<h1>Links</h1>

<div id="links">
  <% @links.each do |link| %>
    <%= render link %>
    <div class="form-group mb-3">
      <%= link_to "Show this link", link %>
    </div>
  <% end %>
</div>

<div class="form-group mb-3">
  <%= link_to "New link", new_link_path %>
</div>  
