<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <div class="form-group mb-3">
      <%= link_to "Show this post", post %>
    </div>
  <% end %>
</div>

<div class="form-group mb-3">
  <%= link_to "New post", new_post_path %>
</div>  
